<div class="wrapper">
  <section class="description-and-photo">
    <div class="description">
      <h1 class="heading">Front-End Developer</h1>
      <p class="subheading">Hi, I'm Pavel Korshunau. A passionate engineer from Minsk, Belarus</p>
      <div class="social-links">
        <a class="social-link-item" href="https://www.linkedin.com/in/m9t3zhn1k/" target="_blank">
          <img src="assets/icons/social-links/linkedin.svg" alt="LinkedIn" />
        </a>
        <a class="social-link-item" href="https://github.com/m9t3zhn1k" target="_blank">
          <img src="assets/icons/social-links/github.svg" alt="GitHub" />
        </a>
        <a class="social-link-item" href="https://t.me/m9t3zhn1k" target="_blank">
          <img src="assets/icons/social-links/telegram.svg" alt="Telegram" />
        </a>
        <a class="social-link-item" href="mailto:m9t3zhn1k@gmail.com" target="_blank">
          <img src="assets/icons/social-links/email.svg" alt="Email" />
        </a>
      </div>
      <div class="buttons">
        <button>Download CV</button>
      </div>
    </div>
    <div class="photo-wrapper">
      <div class="photo">
        <img src="assets/images/photo.png" alt="My photo" />
      </div>
    </div>
  </section>
  <section class="tech-stack">
    <h3 class="heading">Tech Stack</h3>
    <ul class="stack-icons">
      <li class="stack-icon-item">
        <img src="assets/icons/techs/html.svg" alt="HTML5" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/css.svg" alt="CSS3" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/sass.svg" alt="Sass" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/tailwind.svg" alt="Tailwind CSS" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/javascript.svg" alt="JavaScript" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/typescript.svg" alt="TypeScript" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/angular.svg" alt="Angular" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/ngrx.svg" alt="NgRX" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/rxjs.svg" alt="RxJs" />
      </li>
      <li class="stack-icon-item">
        <img src="assets/icons/techs/webpack.svg" alt="WebPack" />
      </li>
    </ul>
  </section>
</div>
