:host {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
  max-width: var(--app-container-md);
  margin: 0 auto;
  padding: 5rem 0.5rem 2rem;
}

.description-and-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 50%;

  .heading {
    font: var(--app-font-display-md-bold);
    color: var(--app-blue);
  }

  .subheading {
    font: var(--app-font-text-lg-medium);
    color: var(--app-text-additional);
  }

  .social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .social-link-item {
    height: 1.5rem;
    width: 1.5rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;

    .button {
      padding: 0.5rem 1.25rem;
      font: var(--app-font-text-sm-regular);
      color: var(--app-text-main);
      border: 2px solid var(--app-text-main);
      border-radius: 0.25rem;
      transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: var(--app-background-main);
        background-color: var(--app-text-main);
      }
    }
  }
}

.photo-wrapper {
  flex: 1 1 30%;

  .photo {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--app-background-main-light);
    border-radius: 50%;
    border: 2px solid var(--app-text-main);
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      object-position: center;
    }
  }
}

.tech-stack {
  display: flex;
  align-items: center;
  gap: 2rem;

  .heading {
    font: var(--app-font-text-xl-regular);
  }

  .stack-icons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}
