@use 'src/assets/styles/main.scss' as styles;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
  max-width: var(--app-container-md);
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}

.description-and-photo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @include styles.media-md {
    flex-direction: row;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;

  @include styles.media-md {
    flex: 1 1 50%;
    gap: 1rem;
    text-align: left;
  }

  .heading {
    font: var(--app-font-display-md-bold);
    color: var(--app-blue);
  }

  .subheading {
    font: var(--app-font-text-lg-medium);
    color: var(--app-text-additional);
  }

  .social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    @include styles.media-md {
      justify-content: flex-start;
    }
  }

  .social-link-item {
    height: 1.5rem;
    width: 1.5rem;

    .svg {
      --app-svg-width: 100%;
      --app-svg-height: 100%;
      --app-svg-color: var(--app-text-main);
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;

    .button {
      padding: 0.5rem 1.25rem;
      font: var(--app-font-text-sm-regular);
      color: var(--app-text-main);
      border: 2px solid var(--app-text-main);
      border-radius: 0.25rem;
      transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: var(--app-background-main);
        background-color: var(--app-text-main);
      }
    }
  }
}

.photo-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: calc(320px - 2rem);

  @include styles.media-md {
    flex: 1 1 30%;
  }

  .photo {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--app-background-main-light);
    overflow: hidden;
    animation: polygon 4s linear infinite;

    @keyframes polygon {
      0%,
      100% {
        clip-path: polygon(
          3% 24%,
          4% 22%,
          4% 15%,
          6% 10%,
          7% 8%,
          8% 7%,
          9% 6%,
          11% 5%,
          27% 5%,
          29% 6%,
          34% 6%,
          37% 7%,
          50% 7%,
          61% 8%,
          63% 9%,
          66% 10%,
          67% 11%,
          70% 13%,
          75% 15%,
          76% 16%,
          77% 20%,
          79% 23%,
          80% 25%,
          81% 28%,
          81% 44%,
          82% 46%,
          83% 48%,
          84% 49%,
          86% 51%,
          87% 53%,
          88% 55%,
          89% 63%,
          88% 77%,
          88% 79%,
          86% 83%,
          84% 87%,
          83% 89%,
          81% 91%,
          79% 92%,
          76% 93%,
          73% 94%,
          71% 95%,
          69% 95%,
          67% 96%,
          53% 97%,
          47% 96%,
          45% 95%,
          37% 95%,
          34% 96%,
          23% 96%,
          20% 95%,
          18% 94%,
          17% 93%,
          15% 91%,
          13% 89%,
          12% 88%,
          11% 85%,
          9% 83%,
          8% 80%,
          7% 78%,
          6% 76%,
          6% 73%,
          7% 56%,
          6% 53%,
          6% 52%,
          5% 49%,
          5% 47%,
          4% 45%,
          4% 40%,
          3% 38%,
          3% 29%
        );
      }

      50% {
        clip-path: polygon(
          15% 23%,
          15% 19%,
          16% 17%,
          17% 16%,
          18% 15%,
          18% 14%,
          19% 13%,
          21% 12%,
          22% 11%,
          23% 10%,
          24% 9%,
          27% 8%,
          28% 7%,
          32% 6%,
          37% 6%,
          47% 5%,
          62% 4%,
          63% 3%,
          77% 3%,
          82% 4%,
          85% 5%,
          90% 9%,
          91% 11%,
          91% 11%,
          92% 12%,
          94% 14%,
          94% 15%,
          94% 16%,
          95% 19%,
          95% 25%,
          94% 28%,
          94% 44%,
          96% 49%,
          97% 54%,
          98% 57%,
          98% 79%,
          97% 82%,
          96% 85%,
          96% 90%,
          95% 91%,
          94% 93%,
          91% 94%,
          85% 96%,
          83% 96%,
          77% 97%,
          69% 97%,
          60% 96%,
          48% 96%,
          45% 95%,
          36% 94%,
          30% 93%,
          28% 92%,
          23% 90%,
          20% 88%,
          17% 86%,
          13% 83%,
          12% 80%,
          11% 77%,
          10% 73%,
          10% 65%,
          9% 63%,
          9% 60%,
          9% 58%,
          8% 54%,
          8% 52%,
          8% 51%,
          9% 39%,
          11% 36%,
          12% 34%,
          13% 32%,
          14% 29%
        );
      }
    }

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      object-position: center;
    }
  }

  .photo-border {
    position: absolute;
    inset: 0;
    background-color: var(--app-text-main);
    animation: polygon-border 4s linear infinite;

    @keyframes polygon-border {
      0%,
      100% {
        clip-path: polygon(
          2% 23%,
          3% 21%,
          3% 14%,
          5% 9%,
          6% 7%,
          7% 6%,
          8% 5%,
          10% 4%,
          26% 4%,
          28% 5%,
          33% 5%,
          36% 6%,
          49% 6%,
          62% 7%,
          64% 8%,
          67% 9%,
          68% 10%,
          71% 12%,
          76% 14%,
          77% 15%,
          78% 19%,
          80% 22%,
          81% 24%,
          82% 27%,
          82% 43%,
          83% 45%,
          84% 47%,
          85% 48%,
          87% 50%,
          88% 54%,
          89% 55%,
          90% 64%,
          89% 78%,
          89% 80%,
          87% 84%,
          85% 88%,
          84% 90%,
          82% 92%,
          80% 93%,
          77% 94%,
          74% 95%,
          72% 96%,
          70% 96%,
          68% 97%,
          54% 98%,
          46% 97%,
          44% 96%,
          36% 96%,
          33% 97%,
          22% 97%,
          19% 96%,
          17% 95%,
          16% 94%,
          14% 91%,
          12% 90%,
          11% 89%,
          10% 86%,
          8% 84%,
          7% 81%,
          6% 79%,
          5% 77%,
          5% 74%,
          6% 57%,
          5% 54%,
          5% 53%,
          4% 48%,
          4% 46%,
          3% 44%,
          3% 39%,
          2% 37%,
          2% 28%
        );
      }

      50% {
        clip-path: polygon(
          14% 22%,
          14% 18%,
          15% 16%,
          16% 15%,
          17% 14%,
          17% 13%,
          18% 12%,
          20% 11%,
          21% 10%,
          22% 9%,
          23% 8%,
          26% 7%,
          27% 6%,
          31% 5%,
          36% 5%,
          46% 4%,
          63% 3%,
          64% 2%,
          78% 2%,
          83% 3%,
          86% 4%,
          91% 8%,
          92% 10%,
          92% 10%,
          93% 11%,
          95% 13%,
          95% 14%,
          95% 15%,
          96% 18%,
          96% 24%,
          95% 27%,
          95% 43%,
          97% 48%,
          98% 55%,
          99% 58%,
          99% 80%,
          98% 83%,
          97% 86%,
          97% 91%,
          96% 92%,
          95% 94%,
          93% 95%,
          86% 97%,
          85% 97%,
          78% 98%,
          70% 98%,
          61% 97%,
          47% 97%,
          44% 96%,
          35% 95%,
          29% 94%,
          27% 93%,
          22% 91%,
          19% 89%,
          16% 87%,
          12% 84%,
          11% 81%,
          10% 78%,
          9% 74%,
          9% 66%,
          8% 64%,
          8% 61%,
          8% 59%,
          7% 56%,
          7% 53%,
          7% 52%,
          8% 38%,
          10% 37%,
          11% 33%,
          12% 31%,
          13% 28%
        );
      }
    }
  }
}

.tech-stack {
  display: flex;
  gap: 2rem;

  .heading {
    font: var(--app-font-text-xl-regular);
    flex: 1 0 auto;
  }

  .stack-icons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
  }
}
