<div *ngIf="project() as project" class="project-item">
  <div class="description">
    <h3 class="heading">«{{ project.title }}»</h3>
    <p class="subheading">{{ project.description }}</p>
    <p class="techs">{{ technologies() }}</p>
  </div>
  <div class="preview">
    <div class="content">
      <div class="image-container">
        <img class="image" src="{{ project.thumbnail }}" alt="{{ project.title }}" />
      </div>
      <div class="links-container">
        <a class="link" href="{{ project.deployLink }}" target="_blank">Visit</a>
        <a class="link" href="{{ project.repositoryLink }}" target="_blank">Code</a>
      </div>
    </div>
  </div>
</div>
