:host {
  display: block;
}

.project-item {
  display: flex;
  gap: 1rem;

  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 40%;
  }

  .preview {
    flex: 1 1 60%;
  }

  .heading {
    font: var(--app-font-display-xs-semibold);
    color: var(--app-blue);
  }

  .subheading {
    font: var(--app-font-text-md-medium);
    color: var(--app-text-additional);
  }

  .techs {
    font: var(--app-font-text-md-medium);
  }

  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1920 / 1080;

    &:hover {
      & .image-container {
        width: 90%;

        &::after {
          background-color: var(--app-background-main-light-transparent);
        }

        .image {
          scale: 1.15;
        }
      }

      & .links-container {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 1080;
    transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      display: block;
      inset: 0;
      background-color: transparent;
      transition: inherit;
    }
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: inherit;
  }

  .links-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link {
    padding: 0.25rem 1.25rem;
    font: var(--app-font-text-sm-regular);
    color: var(--app-text-main);
    border: 2px solid var(--app-text-main);
    border-radius: 0.25rem;
    transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--app-background-main);
      background-color: var(--app-text-main);
    }
  }
}
