:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--app-background-main);
  flex: 1 1 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}
