:host {
  display: block;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  width: 100%;
  max-width: var(--app-container-xl);
}

.year {
  font: var(--app-font-text-xs-regular);
}
