html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font: var(--app-font-text-md-medium);
  color: var(--app-text-main);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--app-background-main);
}

::-webkit-scrollbar-thumb {
  background: var(--app-background-main-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--app-blue);
}
