:root {
  --app-container-xs: 420px;
  --app-container-sm: 576px;
  --app-container-md: 768px;
  --app-container-lg: 992px;
  --app-container-xl: 1200px;
  --app-container-2xl: 1440px;

  --app-font: 'Exo 2', sans-serif;

  --app-font-display-2xl: 4.5rem/5.625rem var(--app-font);

  --app-font-display-2xl-regular: 400 var(--app-font-display-2xl);
  --app-font-display-2xl-medium: 500 var(--app-font-display-2xl);
  --app-font-display-2xl-semibold: 600 var(--app-font-display-2xl);
  --app-font-display-2xl-bold: 700 var(--app-font-display-2xl);

  --app-font-display-xl: 3.75rem/4.5rem var(--app-font);

  --app-font-display-xl-regular: 400 var(--app-font-display-xl);
  --app-font-display-xl-medium: 500 var(--app-font-display-xl);
  --app-font-display-xl-semibold: 600 var(--app-font-display-xl);
  --app-font-display-xl-bold: 700 var(--app-font-display-xl);

  --app-font-display-lg: 3rem/3.75rem var(--app-font);

  --app-font-display-lg-regular: 400 var(--app-font-display-lg);
  --app-font-display-lg-medium: 500 var(--app-font-display-lg);
  --app-font-display-lg-semibold: 600 var(--app-font-display-lg);
  --app-font-display-lg-bold: 700 var(--app-font-display-lg);

  --app-font-display-md: 2.25rem/2.75rem var(--app-font);

  --app-font-display-md-regular: 400 var(--app-font-display-md);
  --app-font-display-md-medium: 500 var(--app-font-display-md);
  --app-font-display-md-semibold: 600 var(--app-font-display-md);
  --app-font-display-md-bold: 700 var(--app-font-display-md);

  --app-font-display-sm: 1.875rem/2.375rem var(--app-font);

  --app-font-display-sm-regular: 400 var(--app-font-display-sm);
  --app-font-display-sm-medium: 500 var(--app-font-display-sm);
  --app-font-display-sm-semibold: 600 var(--app-font-display-sm);
  --app-font-display-sm-bold: 700 var(--app-font-display-sm);

  --app-font-display-xs: 1.5rem/2rem var(--app-font);

  --app-font-display-xs-regular: 400 var(--app-font-display-xs);
  --app-font-display-xs-medium: 500 var(--app-font-display-xs);
  --app-font-display-xs-semibold: 600 var(--app-font-display-xs);
  --app-font-display-xs-bold: 700 var(--app-font-display-xs);

  --app-font-text-xl: 1.25rem/1.875rem var(--app-font);

  --app-font-text-xl-regular: 400 var(--app-font-text-xl);
  --app-font-text-xl-medium: 500 var(--app-font-text-xl);
  --app-font-text-xl-semibold: 600 var(--app-font-text-xl);
  --app-font-text-xl-bold: 700 var(--app-font-text-xl);

  --app-font-text-lg: 1.125rem/1.75rem var(--app-font);

  --app-font-text-lg-regular: 400 var(--app-font-text-lg);
  --app-font-text-lg-medium: 500 var(--app-font-text-lg);
  --app-font-text-lg-semibold: 600 var(--app-font-text-lg);
  --app-font-text-lg-bold: 700 var(--app-font-text-lg);

  --app-font-text-md: 1rem/1.5rem var(--app-font);

  --app-font-text-md-regular: 400 var(--app-font-text-md);
  --app-font-text-md-medium: 500 var(--app-font-text-md);
  --app-font-text-md-semibold: 600 var(--app-font-text-md);
  --app-font-text-md-bold: 700 var(--app-font-text-md);

  --app-font-text-sm: 0.875rem/1.25rem var(--app-font);

  --app-font-text-sm-regular: 400 var(--app-font-text-sm);
  --app-font-text-sm-medium: 500 var(--app-font-text-sm);
  --app-font-text-sm-semibold: 600 var(--app-font-text-sm);
  --app-font-text-sm-bold: 700 var(--app-font-text-sm);

  --app-font-text-xs: 0.75rem/1.125rem var(--app-font);

  --app-font-text-xs-regular: 400 var(--app-font-text-xs);
  --app-font-text-xs-medium: 500 var(--app-font-text-xs);
  --app-font-text-xs-semibold: 600 var(--app-font-text-xs);
  --app-font-text-xs-bold: 700 var(--app-font-text-xs);

  --app-blur-sm: blur(4px);
  --app-blur-md: blur(8px);
  --app-blur-lg: blur(12px);
  --app-blur-xl: blur(20px);
}
