@use 'src/assets/styles/main.scss' as styles;

:host {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: var(--app-container-xl);
}

.logo {
  font: var(--app-font-display-xs-semibold);
}

.navigation {
  display: none;

  @include styles.media-md {
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
  }
}

.nav-list {
  display: flex;
  column-gap: 2.5rem;
}

.nav-item {
  position: relative;
  font: var(--app-font-text-lg-medium);
  transition: inherit;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: var(--app-text-main);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after,
  &.active::after {
    width: 100%;
  }
}

.menu-button {
  display: block;
  height: 1.5rem;
  width: 1.5rem;

  @include styles.media-md {
    display: none
  }
}

.menu-icon {
  --app-svg-width: 100%;
  --app-svg-height: 100%;
  --app-svg-color: var(--app-text-main);
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  background-color: var(--app-background-main);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .mob-menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mob-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    column-gap: 2.25rem;
    font-size: 0.9375rem;
    line-height: 1.45;

    .mob-nav-item {
      font: var(--app-font-display-sm-medium);
      transition: inherit;
    }
  }

  .mob-menu-actions {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    align-items: center;
    margin-top: auto;

    .button {
      font: var(--app-font-text-lg-semibold);
      width: 2rem;
      height: 2rem;
    
      .svg {
        --app-svg-width: 100%;
        --app-svg-height: 100%;
        --app-svg-color: var(--app-text-main);
      }
    }
  }
}
