<div class="wrapper">
  <a class="logo" href="#">Portfolio</a>
  <nav>
    <ul class="nav-list">
      <li>
        <a class="nav-item" routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav-item" routerLink="about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a class="nav-item" routerLink="projects" routerLinkActive="active">Projects</a>
      </li>
      <li>
        <a class="nav-item" routerLink="contacts" routerLinkActive="active">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
