:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  height: 100%;
  max-width: var(--app-container-md);
  margin: 0 auto;
  padding: 20vh 0.5rem 2rem;
}

.preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  font: var(--app-font-text-lg-regular);
  letter-spacing: 0.03rem;
}

.link {
  color: var(--app-blue);
}

.benefits-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(8rem, 1fr));
  gap: 1rem;
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 0 0.5rem;

  .icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .background {
      width: 50%;
      min-width: 5rem;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2rem;
      height: 2rem;
      transform: translate(-50%, -40%);
    }
  }

  .heading {
    font: var(--app-font-text-sm-semibold);
    text-align: center;
  }

  .subheading {
    font: var(--app-font-text-xs-regular);
    color: var(--app-text-additional);
    text-align: center;
  }
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .heading {
    font: var(--app-font-display-lg-semibold);
    color: var(--app-blue);
  }

  .item {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .date-container {
    flex: 0 1 25%;
    min-width: 4rem;

    .date {
      font: var(--app-font-text-lg-semibold);
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 auto;
    width: 100%;
  }

  .institution {
    font: var(--app-font-text-sm-regular);
    color: var(--app-text-additional);
  }

  .speciality {
    font: var(--app-font-display-xs-semibold);
    color: var(--app-blue);
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.75rem;
    font: var(--app-font-text-lg-regular);
  }
}
