<div class="wrapper">
  <div class="text-container">
    <p class="text">
      I'm a Front-End Developer for
      <a class="link" href="https://section228.com/development" target="_blank">Section228</a> in
      Minsk, Belarus.
    </p>
    <p class="text">
      My work currently consists of a full time engineering role at different projects like online
      shops, admin panels, RSS Feed Reader and some others. I find this combine to be super
      resourceful in terms my learning as a web developer, as well as for keeping up with the rapid
      expansion of developer tools, libraries, frameworks, etc.
    </p>
  </div>
  <div class="benefits-container">
    <div class="benefit" [class.loaded]="loaded()">
      <div class="icon-container">
        <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
        <img class="icon" src="assets/images/about/teamwork.svg" alt="Icon" />
      </div>
      <p class="heading">Teamwork</p>
      <p class="subheading">The result is always higher when you are not alone</p>
    </div>
    <div class="benefit" [class.loaded]="loaded()">
      <div class="icon-container">
        <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
        <img class="icon" src="assets/images/about/responsibility.svg" alt="Icon" />
      </div>
      <p class="heading">Responsibility</p>
      <p class="subheading">My layouts will work on any device, big or small</p>
    </div>
    <div class="benefit" [class.loaded]="loaded()">
      <div class="icon-container">
        <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
        <img class="icon" src="assets/images/about/problem-solving.svg" alt="Icon" />
      </div>
      <p class="heading">Problem-solving</p>
      <p class="subheading">The code must solve business solutions</p>
    </div>
    <div class="benefit" [class.loaded]="loaded()">
      <div class="icon-container">
        <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
        <img class="icon" src="assets/images/about/critical-thinking.svg" alt="Icon" />
      </div>
      <p class="heading">Critical thinking</p>
      <p class="subheading">Making more informed decisions is important</p>
    </div>
  </div>
</div>
