<ng-container *transloco="let translate; read: 'about.page'">
  <div class="wrapper">
    <div class="preview-container">
      <h1 class="text">
        {{ translate('preview.heading.1') }}
        <a class="link" href="https://section228.com/development" target="_blank">Section228</a>
        {{ translate('preview.heading.2') }}
      </h1>
      <p class="text">{{ translate('preview.text') }}</p>
    </div>
    <section class="benefits-container" @flipInY>
      <div class="benefit">
        <div class="icon-container">
          <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
          <img class="icon" src="assets/images/about/teamwork.svg" alt="Icon" />
        </div>
        <p class="heading">{{ translate('benefits.teamwork.heading') }}</p>
        <p class="subheading">{{ translate('benefits.teamwork.subheading') }}</p>
      </div>
      <div class="benefit">
        <div class="icon-container">
          <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
          <img class="icon" src="assets/images/about/responsibility.svg" alt="Icon" />
        </div>
        <p class="heading">{{ translate('benefits.responsibility.heading') }}</p>
        <p class="subheading">{{ translate('benefits.responsibility.subheading') }}</p>
      </div>
      <div class="benefit">
        <div class="icon-container">
          <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
          <img class="icon" src="assets/images/about/problem-solving.svg" alt="Icon" />
        </div>
        <p class="heading">{{ translate('benefits.problem-solving.heading') }}</p>
        <p class="subheading">{{ translate('benefits.problem-solving.subheading') }}</p>
      </div>
      <div class="benefit">
        <div class="icon-container">
          <img class="background" src="assets/images/about/pentagon.svg" alt="Pentagon shape" />
          <img class="icon" src="assets/images/about/critical-thinking.svg" alt="Icon" />
        </div>
        <p class="heading">{{ translate('benefits.critical-thinking.heading') }}</p>
        <p class="subheading">{{ translate('benefits.critical-thinking.subheading') }}</p>
      </div>
    </section>
    <section class="education-container">
      <h2 class="heading">{{ translate('education.heading') }}</h2>
      <div class="item">
        <div class="date-container">
          <p class="date">2021 - 2022</p>
        </div>
        <div class="text-container">
          <p class="speciality">{{ translate('education.rs-school.speciality') }}</p>
          <p class="institution">
            <a href="https://rs.school/" target="_blank">
              {{ translate('education.rs-school.institution') }}
            </a>
          </p>
          <div class="description">
            <p>{{ translate('education.rs-school.description.1') }}</p>
            <p>{{ translate('education.rs-school.description.2') }}</p>
            <p>{{ translate('education.rs-school.description.3') }}</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date-container">
          <p class="date">2011 - 2016</p>
        </div>
        <div class="text-container">
          <p class="speciality">{{ translate('education.bsuir.speciality') }}</p>
          <p class="institution">
            <a href="https://www.bsuir.by/" target="_blank">
              {{ translate('education.bsuir.institution') }}
            </a>
          </p>
          <div class="description">{{ translate('education.bsuir.description.1') }}</div>
        </div>
      </div>
    </section>
  </div>
</ng-container>
