:root {
  --app-shadow: 0px 4px 12px 4px rgba(34, 60, 80, 0.2);

  --app-background-main: #d2d7e7;
  --app-background-main-light: #e4e7f0;
  --app-background-main-light-transparent: #e2e2e246;
  --app-text-main: #0a1822;
  --app-text-additional: #112533;
  --app-blue: #00a5e2;
}
