<ng-container *transloco="let translate; read: 'projects.page'">
  <div class="wrapper">
    <section class="description">
      <h1 class="heading">{{ translate('heading') }}</h1>
      <p class="subheading">
        {{ translate('subheading') }}
        <a class="link" href="mailto:m9t3zhn1k@gmail.com">{{ translate('actions.email') }}</a>.
      </p>
    </section>
    <section class="projects">
      <app-project
        *ngFor="let project of projects(); let even = even"
        [project]="project"
        [reversed]="even"
      ></app-project>
    </section>
  </div>
</ng-container>
