:root {
  --app-shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --app-shadow-sm: 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
  --app-shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --app-shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --app-shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --app-shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --app-shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

  --app-background-main: #081b29;
  --app-background-main-light: #112533;
  --app-background-main-light-transparent: #00000046;
  --app-text-main: #e8edf2;
  --app-text-additional: #979797;
  --app-blue: #00a5e2;
}
