@use 'src/assets/styles/main.scss' as styles;

:host {
  display: none;
  position: fixed;
  right: 1rem;
  transform: translateY(-50%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  @include styles.media-md {
    display: block;
    top: 90%;
  }

  @include styles.media-lg {
    top: 50%;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--app-text-main);
  border-radius: 5rem;
  padding: 1rem 0.625rem;
}

.button {
  font: var(--app-font-text-md-semibold);
  color: var(--app-background-main);
  width: 1.5rem;
  height: 1.5rem;

  .svg {
    --app-svg-width: 100%;
    --app-svg-height: 100%;
    --app-svg-color: var(--app-background-main);
  }
}
